name: Build Test

on:
  workflow_dispatch:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build-macos:
    uses: ./.github/workflows/build-macos.yml
    with:
      artifact_name: typr-osk-desktop-macos
      exe_path: build/typr-osk-desktop
      skip_deploy: true

  build-windows:
    uses: ./.github/workflows/build-windows.yml
    with:
      artifact_name: typr-osk-desktop-windows
      exe_path: build/typr-osk-desktop.exe
      skip_deploy: true
