name: Build Test

on:
  workflow_dispatch:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build-macos:
    uses: ./.github/workflows/build-job.yml
    with:
      platform: macos
      artifact_name: typr-osk-desktop-macos
      exe_path: build/typr-osk-desktop

  deploy-macos:
    needs: build-macos
    runs-on: macos-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Download macOS Artifact
        uses: actions/download-artifact@v4
        with:
          name: typr-osk-desktop-macos
          path: build
      - name: Deploy Qt DLLs / Frameworks
        uses: ./.github/actions/deploy-qt-dlls
        with:
          exe_path: build/typr-osk-desktop

  build-windows:
    uses: ./.github/workflows/build-job.yml
    with:
      platform: windows
      artifact_name: typr-osk-desktop-windows
      exe_path: build/typr-osk-desktop.exe

  deploy-windows:
    needs: build-windows
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Download Windows Artifact
        uses: actions/download-artifact@v4
        with:
          name: typr-osk-desktop-windows
          path: build
      - name: Deploy Qt DLLs / Frameworks
        uses: ./.github/actions/deploy-qt-dlls
        with:
          exe_path: build/typr-osk-desktop.exe
